body{
  background-color: purple;
  color: #00384f
}

.container{
  display: grid;
  grid-template-areas: 
  "one one two two three three four four"
  "one one two two three three four four"
  "one one five five five five five five"
  "one one five five five five five five"
  ;
  gap: 1em;
  margin: 20px 10px 20px 10px;
}
.one{
  grid-area: one;
  height: 100vh;
  background-color: grey;
  box-shadow: 5px 10px;
}
.two{
  grid-area: two;
  background-color: grey;
  box-shadow: 5px 10px;
}
.three{
  grid-area: three;
  background-color: grey;
  box-shadow: 5px 10px;

}
.four{
  grid-area: four;
  background-color: grey;
  box-shadow: 5px 10px;
}
.five{
  background-color: grey;
  grid-area: five;
  box-shadow: 5px 10px;
}
.title{
  font-size: 25px;
  padding: 10px;
}
.num{
  font-size: 30px;
  padding: 10px;
}
.multi{
  font-size: 30px;
}

.side-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100% ;
  font-size: 25px; 
}